 *{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;

}


      html,body
      {
          width: 100%;
          margin: 0px;
          padding: 0px;
          overflow-x: hidden; 
      }

      .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  }
    

.logo{
  padding-left: 30px;
  width: 300px;
}
.firstnav{
  z-index: 99;
  max-width: 100vw;
  
  /*width: 100vw;*/
  background-color: white;
  background-image: linear-gradient(to right, rgba(50,110,207,0), rgba(0,0,0,1));

}

.jion-btn{
  padding: 0;
}

@media only screen and (max-width: 600px) {
   .logo{
  padding-left: 10px;
  width: 200px;

}}

.secondnav{
  z-index: 778;
  padding: 0;


  max-width: 100vw;
  /*margin-top: 100px;*/
  background-image: linear-gradient(to right, rgba(50,110,207,.7), rgba(0,0,0,1));
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 20px;
    font-size: 16px;
}
.navbar-toggler:focus{
  outline: none;
}
.navbar-toggler{
  margin-right: 20px;
  background-color: #f8f9fa8c;

}


.nav-item:hover{
  
  background-color:  rgb(0, 140, 255);
  border-radius: 5px;
  

}

.btn.hover, .btn:hover{
  /*background: red;*/
}
.btn.focus, .btn:focus {
    outline: 0;
     box-shadow: 0 0 0 0.2rem rgba(0,123,255,0%); 
}


.nav-item{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
}



.modal-open{
  padding-right: 0;

}

.modal-content{
  width: 440px;
  height: 550px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;

}
.modal-content:before{
  content: "";
  position: absolute;
  height: 1000px;
  width: 2000px;
  top: 0%;
  right: 4%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eba3 0%, #04befe78 100%);
  transition: .8s ease-in-out;
  border-radius: 50%;
  
}
.modal-content.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 96%;
}

.modal-header{
  height: 3px;
  border-width: 0;
}

.close:focus{
  outline: none;
}

.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
  outline: none;
}
.toggle-btn{
  /*width: 50%;*/
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
.toggle-btn:focus{
  outline: none;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right,#ff105f,#ffad06);
  border-radius: 30px;
  outline: none;
  transition: .5s;

}
.input-group-login,
.input-group-signup{
  
  position: absolute;
  width: 280px;
  transition: .5s;
}
.input-group-signup{
top: 130px;
}
.input-group-login{
  top: 170px;
}

.input-field-login,
.input-field-signup{
  width: 100%;
  padding: 10px 0;
  
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;

}
.input-field-login{
  margin: 20px 0;

}
.input-field-signup{
  margin: 10px 0;
}

.submit-btn{
  width: 85%;
    margin: 35px auto;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  /*margin: auto;*/
  background: linear-gradient(to right,#ff105f,#ffad06);
  border:0;
  outline: none;
  border-radius: 30px;
}
.submit-btn:focus{
  outline: none;
}
/*.check-box{
  margin: 30px 10px 30px 0;
}
span{
  color: #777;
  font-size: 12px;
  bottom: 58px;
  position: absolute;
}*/
#login{
  left:80px;
}

#signup{
  left: 450px;
}










.sidebar-contact{
  z-index: 598796;
  position: fixed;
  top: 65%;
  right: -330px;
  transform: translateY(-50%);
  width: 330px;
  height: auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 20px 50px rgba(0,0,0,.5);
  box-sizing: border-box;
  transition: 0.5s;
}

.sidebar-contact.active{
  right: 0px;

}
/*.sidebar-contact h2 {
    margin: 0 0 0px;
    text-align: center;
}*/
.sidebar-header{
  background-color: #007bff;
}
.sidebar-header p {
    font-size: 10px;
    margin: 10px;
    color: white;
    /* margin-bottom: 1rem; */
}
.sidebar-header h2{
  font-size: 40px;
  margin: 0 0 0;
    text-align: center;
    color: white;

}

.sidebar-contact input,
.sidebar-contact textarea{
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 10px auto;
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.5);
  outline: none;
}

.sidebar-contact textarea{
  height: 60px;
  resize: none;
}
.sidebar-contact input[type="submit"]{
  background: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  font-style: 18px;
}
.sidebar-contact h2{
  margin: 0 0 20px;
  padding: 0;
}
.toggle2{
    
  position: absolute;
  top: 0;
  left: -55px;
  width: 48px;
  height: 50%;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  background: #425c84;
  border-radius: 10px;
  transform: translateY(50%);
}

.toggle2 h3{
  color: white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  
  transform: translateY(5%);
}
.toggle2.active{
    
}

.toggle2 :before{
  content: '\f086';
  font-family: fontawesome;
  color: yellow;
  font-size: 30px;
  margin-bottom: 35px;



}

.toggle2.active ::before{
  content: '\f00d';
  color: red;
}

















@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

/** {
  box-sizing: border-box;
}*/

body {
  background-color: grey;
  font-family: 'Open Sans', sans-serif;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 500px;
  
  max-width: 100%;
}

.header {
  border-bottom: 1px solid #f0f0f0;
  background-color: #425c84;
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
  color: white;
}

.form {
  padding: 30px 20px;
   
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
  height: auto;
  border: hidden;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  color: #425c84;
  font-weight: bold;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;

}
.form-control input[type="textarea"]{
  height: 120px;
  resize: none;
}
.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: 20px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  background-color: #425c84;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}




























.footer{
  /*margin-top: 50px;*/ 
  justify-content: center;
  align-items: center;
  width: 100%;
  /*min-height: 75vh;*/
  
}
.upper-footer{
  width: 100%;
  /*height: 12vh;*/
  background-color: black;
  /*display: flex;*/
  text-align: center;
  /*justify-content: center;*/
  
  /*display: flex;*/
  
}
.uf-content h4{
  color: white;
  margin: 20px auto;
  /*width: 60%;*/
  /*display: flex;
  justify-content: center;*/
  /*align-items: center;
  padding-left: 40px; */



}
.uf-btn{
  margin:20px auto;
}
.git-btn:hover{
  color: black;
  background: white;
  border: 2px solid black;
  /*display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;*/
}
.git-btn {
  padding: 8px;
  border: 2px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  /*color: blue;*/
  /*display: flex;*/
  /*text-align: center;*/
  /*justify-content: center;*/
  /*font-size: 22px;*/
  /*width: 100px;*/
}
.uf-btn a{
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
   .uf-content h4{
    font-size: 15px;
  }

  .uf-btn button{
    margin: 20px auto;
  }
  .uf-content h4{
    margin: 10px auto;
  }

.middle-footer .f-address{
  margin: 20px auto;
  font-size: 15px;
  /*width: 30%;*/
}
.middle-footer .f-address-img img{
  width: 250px;
}
.middle-footer .f-link{
  margin: 20px auto;
  font-size: 15px;
  /*width: 30%;*/


}
.middle-footer .f-link h5{
  margin: 20px auto;
  font-size: 15px;
  color: white; 
}
.middle-footer .f-link a{

margin: 20px auto;
text-decoration: none;
font-size: 15px;

}

.middle-footer .f-download{
  margin: 20px auto;
  font-size: 15px;
  /*width: 30%;*/
}
.lower-footer p{
  font-size: 12px;
}
/*.logo-footer .fab{
  font-size: 1.5em;
  }*/

   .content-heading h5,.content-heading h2 {
    font-size: 15px;
  }


}



.lower-footer{
  width: 100%;
  /*height: 5vh;*/
  background-color: black;
  vertical-align: center;
  text-align: center;
  
  /*display: flex;*/
  /*justify-content: center;
  align-items: center;*/

}
.middle-footer{
  width: 100%;

  /*height: 50vh;*/
  background-color: blue;
  text-align: center;
  /*margin: 30px auto;*/
  /*display: flex;*/
  /*justify-content: center;*/
  
}
.middle-footer .f-address-img img{
  /*width: 250px;*/
  margin-top: 20px 
  
}
 
 .middle-footer .f-address-contant{
  /*margin: 30px auto;*/
  color: white;
  text-align: start;
  /*padding-left: 30px;*/
  
  /*width: 30%;*/
}
.mf-aicon{
  padding: 0 20px;
  color: blue;
}

 .mf-aicon:hover{
  transform: scale(1.5);
  transition: .5s;
}
.MF-QLR,
.mf-addr-r{
  margin: 15px auto;
}
/*.middle-footer .f-link{
  margin: 0px auto;
  /*width: 30%;*/
.mf-addr-r a{
  color: white;
  text-decoration-line: none;
}


 .mf-qlh h3{
    padding: 0 100px;
  margin-top: 60px;
  margin-bottom: 30px;
  color: blue;  
}
 .f-link .row .mf-m-aicon{
  margin: auto 60px;
}
.f-link a:hover{
  color: red;
}

.f-link .fas{
  color: blue;
}

 .f-link a{
color: white;
margin: 30px auto;
text-decoration: none;

}


 .f-download h3{
  margin-top: 60px;
  margin-bottom: 30px;
  color: blue;
  /*width: 30%;*/
}



.f-download h5{
  color: white;
  
}

.f-download a{
  color: yellow;
  
}
.f-download a:hover{
  color: red;
}
/*.f-address-contant ol{
  list-style: none;
}*/




.logo-footer{
  width: 100%;
  text-align: center;
  

  /*height: 8vh;*/
  
  /*display: flex;
  justify-content: center;
  align-items: center;
*/}

.logo-footer .fab{
  font-size: 2em;
  margin: 10px;
  
  transition: .5s;

}
.fa-twitter{
  color: rgba(29,161,242,1);
}
.fa-facebook-f{
  color: rgba(24,119,242,1);
}
.fa-google-plus{
  color: #ea4335;
}
.fa-skype{
  color: #00abe9;
}
.fa-linkedin{
  color: rgba(0,115,176,1);
}
.logo-footer .fab:hover{
  transform: scale(1.2);
}
.lower-footer p{
  color: white;
  padding: 20px ;
  /*display: flex;
  justify-content: center;
  align-items: center;*/ 
  margin-bottom: 0;
  /*padding-top: 10px;*/  

}